.app-container
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  background-color: rgb(80, 78, 78);
}
.btn:focus {
  outline: none; /* Ensure outline is removed when button is focused */
  /* Optional: Add a custom style for focus */
  box-shadow: 0 0 5px #646cff;
}

.btn-selected
{
  border-color: #646cff;
}
.control-buttons
{
  display: flex;
  margin-bottom: 50px;
  margin-top: 20px;
  gap: 5rem;
}

.grid-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(50, 20px); /* 50 columns */
  grid-template-rows: repeat(20, 20px);    /* 20 rows */
  gap: 1px; /* Optional spacing between nodes */
  width: fit-content; /* Adjust grid to fit content size */
}

.node {
  width: 20px;
  height: 20px;
  background-color: aliceblue;
}
.node:hover
{
  background-color: aqua;
}
.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}
.node-path{
  background-color:#646cff;
  transition: background-color  cubic-bezier(0.18, 0.89, 0.32, 1.28) .5s;
}

.hidden
{
  opacity: 0;
}