.app-container
{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-custom{
  color:rgb(234, 235, 241);
  background-color: rgb(27, 141, 198);
}
.btn:focus {
  outline: none; /* Ensure outline is removed when button is focused */
  /* Optional: Add a custom style for focus */
  box-shadow: 0 0 5px #646cff;
}

.btn-selected
{
  border-color: #646cff;
}
.control-buttons
{
  display: flex;

}

.grid-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(50, 20px); /* 50 columns */
  grid-template-rows: repeat(20, 20px);    /* 20 rows */
  gap: 1px; /* Optional spacing between nodes */
  width: fit-content; /* Adjust grid to fit content size */
}

.node {
  width: 20px;
  height: 20px;
  background-color: rgb(202, 187, 240);
}
.node {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  display: inline-block;
}

.node.visited {
  background-color: rgb(214, 168, 40);
  transition: background-color 0.5s ease; /* Transition effect */
}
.node.path {
  background-color: #646cff; /* Path color */
  transition: background-color 0.3s ease-in-out; /* Add smooth transition */
}
.node:hover
{
  background-color: aqua;
}
.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}
.node-path{
  background-color:#646cff;
  transition: background-color .1s cubic-bezier(0.18, 0.89, 0.32, 1.28) .3s;
}

.hidden
{
  opacity: 0;
}

.navbar
{
  display: flex;
}


.flex-container
{
  display: flex;
}

/* Show dropdown on hover */

/* Initially hide the dropdown */
.dropdown-menu {
  display: block;
  opacity: 0;
  transition: all 0.2s ease-in-out; /* Transition effect */
}

/* Add transition for smoother dropdown */
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;

}
